
.checkout{
    margin: 0% 6%;
}
.checkout-detail h4{
    padding-bottom: 13px;
    border-bottom: 2px solid #B4B4B3;
}
.contact-info{
    width: 90%;
    height: 3rem;
    border-radius: 5px;
    border:2px solid #B4B4B3;
    outline: none;
    margin-bottom: 1%;
}
.contact-info,.contact-name,.contact-location{
    padding-left: 2%;
}

.check{
    width: 3%;
    height: 1rem;
}
.contact-name{
    margin-top: 10px;
    width: 40%;
    height: 3rem;
    border-radius: 5px;
    border:2px solid #B4B4B3;
    outline: none;
    margin-bottom: 2%;
}
.contact-location{
    height: 3rem;
    border-radius: 5px;
    border:2px solid #B4B4B3;
    outline: none;
    margin-bottom: 2%;
}
.delivery-time{
    border: 2px solid #B4B4B3;
    border-radius: 5px;
    height: 4rem;
    width: 90%;
}
.delivery-time p{
    padding-left: 5%;
    font-size: 14px;
}
.mode{
    height: 1.2rem;
    width: 5%;
}
.pay-btn{
    margin-top: 2%;
    padding: 2% 40%;
    border: none;
    border-radius: 5px;
    background-color: #0077b6 ;
    color: white
}
.checkout-summary{
    background-color: #f5f5f5;
}
.checkout-price{
    margin: 0px 5%;
}
.checkout-form input:focus{
    border-color:#0077b6  ;
}